.chat-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column-reverse;

    ul {
        height: 100%;
    }
}
.chat {
    display: flex;
    margin: 10px 0;
    padding: 0 10px;
}

.chat-content {
    display: inline-block;
    padding: 12px 20px;
    max-width: 200px;
    height: fit-content;
    font-size: 14px;
    line-height: 18px;
    border-radius: 20px;
    word-break: break-all;
}

.chat-time {
    align-self: flex-end;
    margin: 0 10px 3px;
    font-size: 10px;
    color: #777;
}

.me {
    flex-direction: row-reverse;
     .chat-content {
        background-color: rgba(246, 214, 220);
    }
}

.other {
    flex-direction: row;
    .chat-content {
        border: 0.5px solid #333;
    }
}

.chat-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #aaa;

    button {
        width: 40px;height: 40px;
        padding: 8px;
        margin-right: 12px;
        border-radius: 50%;
        background-color: transparent;
        &:hover {
            svg{ stroke: rgb(235, 84, 139); }
            background-color: rgb(246, 214, 220);
        }
    }

    h3 { line-height: 24px;}
    span { line-height: 18px;}
}

.heart {
    margin: 0 0 4px 8px;
    width: 18px;height: 18px;
    background-color: transparent;
}